<?xml version="1.0" encoding="UTF-8"?>

<web-app	version="3.0"
			xmlns="http://java.sun.com/xml/ns/javaee" 
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xsi:schemaLocation="http://java.sun.com/xml/ns/javaee	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>Simple web application</display-name>

	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>MainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AddPerson</servlet-name>
		<servlet-class>AddPerson</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddPerson</servlet-name>
		<url-pattern>/addperson</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Search</servlet-name>
		<servlet-class>Search</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ShowAll</servlet-name>
		<servlet-class>ShowAll</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowAll</servlet-name>
		<url-pattern>/showall</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>dbInitAndFill</servlet-name>
		<servlet-class>DBInitAndFill</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dbInitAndFill</servlet-name>
		<url-pattern>/dbinit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>searchResults</servlet-name>
		<servlet-class>SearchResults</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchResults</servlet-name>
		<url-pattern>/searchresults</url-pattern>
	</servlet-mapping>

</web-app>
